.ico_auto {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 71px;
  width: 71px;
}
.ico_percent {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -75px 0px;
  height: 70px;
  width: 70px;
}
.ico_cursor-map {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 56px;
  width: 38px;
}
.ico_house {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -42px 0px;
  height: 17px;
  width: 19px;
}
.ico_attention {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -42px -21px;
  height: 16px;
  width: 16px;
}
.ico_11 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 239px;
  width: 158px;
}
.ico_14 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -162px 0px;
  height: 238px;
  width: 94px;
}
.ico_5 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -260px 0px;
  height: 182px;
  width: 89px;
}
.ico_9 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -353px 0px;
  height: 177px;
  width: 134px;
}
.ico_7 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: 0px -247px;
  height: 175px;
  width: 135px;
}
.ico_13 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -139px -243px;
  height: 175px;
  width: 135px;
}
.ico_2 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -410px -231px;
  height: 131px;
  width: 139px;
}
.ico_4 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -491px 0px;
  height: 103px;
  width: 162px;
}
.ico_8 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -491px -119px;
  height: 103px;
  width: 162px;
}
.ico_1 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -335px -202px;
  height: 93px;
  width: 66px;
}
.ico_6 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -333px -314px;
  height: 76px;
  width: 56px;
}
.ico_12 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -279px -291px;
  height: 76px;
  width: 49px;
}
.ico_10 {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -280px -203px;
  height: 76px;
  width: 49px;
}
.ico_dot_ {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 84px;
  width: 75px;
}
.ico_dot {
  background-image: url("spritebox-sprite.png");
  background-repeat: no-repeat;
  background-position: -79px 0px;
  height: 29px;
  width: 17px;
}
