//welcome

spritebox($left, $top, $height, $width)
  background-image: url(spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_auto
  spritebox(-0px, 0px, 71px, 71px)
.ico_percent
  spritebox(-75px, 0px, 70px, 70px)

// ico

spritebox($left, $top, $height, $width)
  background-image: url(spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_cursor-map
  spritebox(-0px, 0px, 56px, 38px)
.ico_house
  spritebox(-42px, 0px, 17px, 19px)
.ico_attention
  spritebox(-42px, -21px, 16px, 16px)
  
//leafs

spritebox($left, $top, $height, $width)
  background-image: url(spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_11
  spritebox(-0px, 0px, 239px, 158px)
.ico_14
  spritebox(-162px, 0px, 238px, 94px)
.ico_5
  spritebox(-260px, 0px, 182px, 89px)
.ico_9
  spritebox(-353px, 0px, 177px, 134px)
.ico_7
  spritebox(-0px, -247px, 175px, 135px)
.ico_13
  spritebox(-139px, -243px, 175px, 135px)
.ico_2
  spritebox(-410px, -231px, 131px, 139px)
.ico_4
  spritebox(-491px, 0px, 103px, 162px)
.ico_8
  spritebox(-491px, -119px, 103px, 162px)
.ico_1
  spritebox(-335px, -202px, 93px, 66px)
.ico_6
  spritebox(-333px, -314px, 76px, 56px)
.ico_12
  spritebox(-279px, -291px, 76px, 49px)
.ico_10
  spritebox(-280px, -203px, 76px, 49px)
  

// slider

spritebox($left, $top, $height, $width)
  background-image: url(spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_dot_
  spritebox(-0px, 0px, 84px, 75px)
.ico_dot
  spritebox(-79px, 0px, 29px, 17px)