baseFont($size = 14px, $line-height = 1.5em, $style = normal, $weight = normal)
    font: $style $weight $size/$line-height Tahoma, Arial, sans-serif

headerFont($size = 14px, $line-height = 1.5em, $style = normal, $weight = normal)
    font: $style $weight $size/$line-height Tahoma, Arial, sans-serif