// company-features
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_dollar
  spritebox(-0px, 0px, 75px, 80px)
.ico_calendar
  spritebox(-84px, -4px, 72px, 78px)
.ico_free
  spritebox(-0px, -79px, 71px, 80px)
.ico_shope
  spritebox(-84px, -79px, 71px, 78px)

// arrows
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite-arrow.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico__arrow_green
  spritebox(-0px, 0px, 35px, 18px)
.ico_arrow_green
  spritebox(-22px, 0px, 35px, 18px)
.ico__arrow_brown
  spritebox(-0px, -40px, 26px, 14px)
.ico_arrow_brown
  spritebox(-18px, -40px, 26px, 14px)

//welcome
spritebox($left, $top, $height, $width)
  background-image: url(../img/welcome/spritebox-sprite-welcome.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_auto
  spritebox(-0px, 0px, 71px, 71px)
.ico_percent
  spritebox(-75px, 0px, 70px, 70px)

// slider
spritebox($left, $top, $height, $width)
  background-image: url(spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_dot_
  spritebox(-0px, 0px, 84px, 75px)
.ico_dot
  spritebox(-79px, 0px, 29px, 17px)
