// company-features
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_dollar
  spritebox(-0px, 0px, 75px, 80px)
.ico_calendar
  spritebox(-84px, -4px, 72px, 78px)
.ico_free
  spritebox(-0px, -79px, 71px, 80px)
.ico_shope
  spritebox(-84px, -79px, 71px, 78px)

// arrows
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite-arrow.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico__arrow_green
  spritebox(-0px, 0px, 35px, 18px)
.ico_arrow_green
  spritebox(-22px, 0px, 35px, 18px)
.ico__arrow_brown
  spritebox(-0px, -40px, 26px, 14px)
.ico_arrow_brown
  spritebox(-18px, -40px, 26px, 14px)

//welcome
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite-welcome.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_auto
  spritebox(-0px, 0px, 71px, 71px)
.ico_percent
  spritebox(-75px, 0px, 70px, 70px)

//leafs
spritebox($left, $top, $height, $width)
  background-image: url(../img/sprite/spritebox-sprite-leafs.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_1
  spritebox(-0px, 0px, 239px, 158px)
.ico_2
  spritebox(-162px, 0px, 238px, 94px)
.ico_3
  spritebox(-260px, 0px, 182px, 89px)
.ico_4
  spritebox(-353px, 0px, 177px, 134px)
.ico_5
  spritebox(-0px, -247px, 175px, 135px)
.ico_6
  spritebox(-139px, -243px, 175px, 135px)
.ico_7
  spritebox(-410px, -231px, 131px, 139px)
.ico_8
  spritebox(-491px, 0px, 103px, 162px)
.ico_9
  spritebox(-491px, -119px, 103px, 162px)
.ico_10
  spritebox(-335px, -202px, 93px, 66px)
.ico_11
  spritebox(-333px, -314px, 76px, 56px)
.ico_12
  spritebox(-279px, -291px, 76px, 49px)
.ico_13
  spritebox(-280px, -203px, 76px, 49px)
