// для четырех иконок
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_dollar
  spritebox(-0px, 0px, 75px, 80px)
.ico_calendar
  spritebox(-84px, -4px, 72px, 78px)
.ico_free
  spritebox(-0px, -79px, 71px, 80px)
.ico_shope
  spritebox(-84px, -79px, 71px, 78px)
// для терех
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite-2.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico_marker
  spritebox(-0px, 0px, 39px, 41px)
.ico_fan
  spritebox(-45px, 0px, 39px, 35px)
.ico_avto-left
  spritebox(-84px, -3px, 36px, 48px)
// arrows
spritebox($left, $top, $height, $width)
  background-image: url(../img/icons/spritebox-sprite-arrow.png)
  background-repeat: no-repeat
  background-position: $left $top
  height: $height
  width: $width
.ico__arrow_green
  spritebox(-0px, 0px, 35px, 18px)
.ico_arrow_green
  spritebox(-22px, 0px, 35px, 18px)
.ico__arrow_brown
  spritebox(-0px, -40px, 26px, 14px)
.ico_arrow_brown
  spritebox(-18px, -40px, 26px, 14px)
