.header__wrap .header__left .header__icon {
  margin: 0 5px;
}
.header__wrap .header__left .header__address {
  padding-left: 10px;
}
.header__wrap .header__left .header__tel {
  padding-left: 10px;
}
.footer__wrap .footer__title {
  margin-right: 15px;
}
.footer__wrap .footer__tel {
  margin-right: 15px;
}
.footer__wrap .footer__address {
  margin-right: 15px;
}
