@import "_vars.styl"
@import "_mixins.styl"
@import "_bootstrap.styl"
@import "_base.styl"
@import "_spritebox.styl"
@import "blocks/*"

body
	font-family: $ubuntu
	background: url('../img/textures/wood-bg.jpg')
	min-width: 970px