body {
    background: url(assets/img/backgrounds/1.png);
    background: url(assets/img/backgrounds/3.png);
    background: url(assets/img/backgrounds/3.jpg);
    background: url(assets/img/backgrounds/4.jpg);
    background: url(assets/img/backgrounds/2.jpg);
    background: url(assets/img/leafs/1.png);
}