.contacts
	height: 700px
	&__wrap
		height: 210px
		padding-top: 70px
		p
			font-size: 17px
			padding-top: 30px
.maps-shadow-bottom
	width: 100%
	box-shadow: 51px 46px 36px 72px rgba(255,255,255,0.6), 0px 0px 44px rgba(255,255,255,0.6) inset
	position: absolute
	z-index: -1
.maps-shadow-top
	width: 100%
	box-shadow: -100px -26px 86px 72px rgba(255,255,255,0.6), 0px 0px 44px rgba(255,255,255,0.6) inset
	position: absolute
	z-index: -1