.footer-navbar
	background-color: rgba(255,255,255,0.73)
	height: 60px
	box-shadow: 0 0 15px rgba(0,0,0,0.4)
	&__menu
		float: left
		height: 38px
		padding-left: 0 !important
		margin-top: 9px
		li
			float: left
			list-style-type: none
			height: inherit
			padding: 0 !important
			&:first-child > a
				border-radius: 10px 0 0 10px
			&:last-child > a
				border-radius: 0 10px 10px 0
			a
				display: block
				height: 100%
				line-height: 36px
				font-size: 14px
				text-align: center
				width: 100%
				padding: 0 17px
				color: #351e14
				font-weight: 400
				border-radius: 0
	&__social-icons
		float: left
		margin: 15px 0 0 37px
		a
			display: inline-block
			margin-right: 10px
			&.b:hover
				background-position: -6px -3px
			&.facebook:hover
				background-position: -28px -4px
			&.twitter:hover
				background-position: -46px -7px
	&__created-site
		padding-top: 12px
		float: left
		margin-left: 20px
		p
			display: inline-block
			margin-right: 10px

