.footer-navbar
	background-color: rgba(255,255,255,0.73)
	height: 60px
	box-shadow: 0 0 15px rgba(0,0,0,0.4)
	.menu
		float: left
		padding-left: 0 !important
		margin-top: 9px
	&__social-icons
		float: left
		margin: 15px 0 0 37px
		a
			display: inline-block
			margin-right: 10px
			&.b:hover
				background-position: -6px -3px
			&.facebook:hover
				background-position: -28px -4px
			&.twitter:hover
				background-position: -46px -7px
	&__created-site
		padding-top: 5px
		float: left
		margin-left: 20px
		p
			display: inline-block
			margin-right: 10px

