.footer
	&__wrap
		height: 87px
	&__title
		float: left
		margin-right: 40px
		h2
			padding: 20px 0 3px 0
			font-size: 24px
			font-weight: 300
			color: #3e271c
		p
			font-size: 14px
			color: #3e271c
			padding-top: 0
	&__tel
		float: left
		margin-right: 32px
		p
			font-size: 17px
			font-weight: bold
			color: #3e271c
			padding: 20px 0 0 0
			&:last-child
				font-size: 13px
				font-weight: normal
				padding-top: 0
	&__address
		float: left
		margin-right: 40px
		p
			padding: 0
			color: #3e271c
			font-size: 14px
			&:first-child
				padding-top: 22px
	&__buttons
		float: left
		padding-top: 32px
		a
			height: 33px
			padding: 8px 13px
			font-size: 14px
			border-radius: 10px


