.header
    background: url('../img/header/bg.png') center no-repeat
    &__wrap
        display: table
        width: 100%
        height: 44px
    &__left
        display: table-cell
        vertical-align: middle
        border-left: 1px solid #cbbdaf
        padding-top: 0
    &__icon
        display: block
        margin: 0 13px
    &__right
        display: table-cell
        text-align: right
        vertical-align: middle
    &__icon
        display: inline-block
    &__address, &__email, &__tel
        border-left: 1px solid #cbbdaf
        height: 44px
        line-height: 44px
    &__address
        display: inline-block
        padding-left: 17px
        font-size: 14px
        color: #4f391e
        padding-right: 8px
    &__email
        display: inline-block
        font-size: 13px
        color: #4f391e
        text-decoration: none
        padding-left: 17px
        padding-right: 11px
    &__tel
        display: inline-block
        font-size: 17px
        font-weight: 700
        color: #4f391e
        padding-left: 24px
        text-decoration: none
    &__question
        margin-left: 5px