.main
    position: relative
    &__left-1, &__left-2, &__left-3, &__left-4, &__left-5, &__left-6, &__left-7, &__left-8, &__left-9, &__left-11, &__left-12, &__left-13, &__right-1, &__right-2, &__right-3, &__right-4, &__right-5, &__right-6, &__right-7, &__right-8, &__right-9, &__right-11, &__right-12, &__right-13
        position: absolute
        z-index: 1000
    &__left-1
        left: 200px
        top: 600px
    &__left-2
        left: 300px
        top: 1000px
    &__left-3
        left: 200px
        top: 1400px
    &__left-4
        left: 300px
        top: 1800px
    &__left-5
        left: 200px
        top: 2200px
    &__left-6
        left: 300px
        top: 2600px
    &__left-7
        left: 200px
        top: 3000px
    &__left-8
        left: 300px
        top: 3400px
    &__left-9
        left: 200px
        top: 3800px
    &__left-11
        left: 300px
        top: 4200px
    &__left-12
        left: 200px
        top: 4600px
    &__left-13
        left: 300px
        top: 5000px
    &__right-1
        right: 200px
        top: 400px
    &__right-2
        right: 300px
        top: 800px
    &__right-3
        right: 200px
        top: 1200px
    &__right-4
        right: 300px
        top: 1600px
    &__right-5
        right: 200px
        top: 2000px
    &__right-6
        right: 300px
        top: 2400px
    &__right-7
        right: 200px
        top: 2800px
    &__right-8
        right: 300px
        top: 3200px
    &__right-9
        right: 200px
        top: 3600px
    &__right-11
        right: 300px
        top: 4000px
    &__right-12
        right: 200px
        top: 4400px
    &__right-13
        right: 300px
        top: 4800px
