body
    position: relative
    .left-1, .left-2, .left-3, .left-4, .left-5, .left-6, .left-7, .left-8, .left-9, .left-11, .left-12, .left-13, .right-1, .right-2, .right-3, .right-4, .right-5, .right-6, .right-7, .right-8, .right-9, .right-11, .right-12, .right-13
        position: absolute
        z-index: 1000
    .left-1
        left: 10vw
        top: 600px
    .left-2
        left: 15vw
        top: 1000px
    .left-3
        left: 10vw
        top: 1400px
    .left-4
        left: 15vw
        top: 1800px
    .left-5
        left: 10vw
        top: 2200px
    .left-6
        left: 15vw
        top: 2600px
    .left-7
        left: 10vw
        top: 3000px
    .left-8
        left: 15vw
        top: 3400px
    .left-9
        left: 10vw
        top: 3800px
    .left-11
        left: 15vw
        top: 4200px
    .left-12
        left: 10vw
        top: 4600px
    .left-13
        left: 15vw
        top: 5000px

    .right-1
        right: 15vw
        top: 400px
    .right-2
        right: 10vw
        top: 800px
    .right-3
        right: 15vw
        top: 1200px
    .right-4
        right: 10vw
        top: 1600px
    .right-5
        right: 15vw
        top: 2000px
    .right-6
        right: 10vw
        top: 2400px
    .right-7
        right: 15vw
        top: 2800px
    .right-8
        right: 10vw
        top: 3200px
    .right-9
        right: 15vw
        top: 3600px
    .right-11
        right: 10vw
        top: 4000px
    .right-12
        right: 15vw
        top: 4400px
    .right-13
        right: 10vw
        top: 4800px
