.menu
	height: 38px
	li
		float: left
		list-style-type: none
		height: inherit
		padding: 0 !important
		&:first-child > a
			border-radius: 10px 0 0 10px
		&:last-child > a
			border-radius: 0 10px 10px 0
		a
			display: block
			height: 100%
			line-height: 36px
			font-size: 14px
			text-align: center
			width: 100%
			padding: 0 17px
			color: #351e14
			font-weight: 400
			border-radius: 0