.product-types
    height: 661px
    &__heading
        padding-top: 48px
        position: relative
        h2
            font-size: 38px !important
            line-height: 1em
            float: left
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.48)
    &__btns
        width: 600px
        float: right
        margin-top: 20px
        right: 0
        z-index: 100
        position: absolute
        a
            float: right
            display: block
            padding: 5px 0
            margin: 0 0 12px 10px
            text-align: center
            border-radius: 4px
            width: 138px
            font-size: 14px
            color: #4f391e
    &-slider
        width: 100%
        height: 442px
        margin-top: 35px
        position: relative
        &:before
            content: ""
            display: block
            position: absolute
            bottom: -25px
            left: -105px
            width: 321px
            height: 237px
            background: no-repeat 0 0 url(../img/product-types/bucket.png)
            z-index: -100
        &:after
            content: ""
            display: block
            position: absolute
            bottom: -19px
            left: 0
            width: 103px
            height: 101px
            background: no-repeat 0 0 url(../img/product-types/bucket-top.png)
            z-index: 100
        &__item
            position: relative
    &-img
        margin: 10px 10px 10px 23px
        width: 400px !important
        height: 420px
        background-color: #fff
        box-shadow: 0 0 10px rgba(0,0,0,0.3)
        border-radius: 10px
        position: relative
        &:before
            content: ""
            display: block
            position: absolute
            width: 400px
            height: 420px
            top: 0
            left: 0
            background: linear-gradient(-45deg, rgba(255,255,255,0) 20%, rgba(255,255,255,0.27) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%)
            z-index: 1000
        a
            display: block
            width: 100%
            height: 420px
            padding-top: 86px
            img
                display: block
                margin: 0 auto
    &-specs
        position: absolute
        display: block
        top: 0
        right: 0
        width: 515px
        height: 420px
        border-radius: 20px
        background: rgba(255,255,255,0.5)
        box-shadow: 0 0 15px rgba(0,0,0,.3)
        &-heading
            height: 55px
            background: 0 0 url(../img/textures/wood-texture.jpg)
            border-radius: 20px 20px 0 0
            border: 1px solid #a17145
            &__name
                display: block
                float: left
                font-size: 24px
                font-weight: 700
                color: #4f391e
                text-decoration: none
                border-bottom: 1px solid #4f391e
                margin: 13px 0 0 21px
                padding-bottom: 3px
            &__more
                margin: 10px 15px 0 0
                display: block
                float: right
                text-align: center
                padding-top: 5px
        &__table
            width: 92%
            margin-left: 25px
            margin-top: 17px
            tr
                border-bottom: 1px solid #a28c7a
                &:last-child
                    border: none
                td
                    font-size: 14px
                    color: #39200d
                    padding: 6px 0
                    &:first-child
                        border-right: 1px solid #a28c7a
                        width: 225px
                    &:last-child
                        padding-left: 26px
        &__prices
            height: 115px
            margin: 15px 15px 0 25px
            position: relative
        &__price
            position: absolute
            padding: 16px 0 0 22px
            border-radius: 8px
            border: 1px solid #a28c7a
            &:first-child
                top: 0
                left: 0
                width: 240px
                height: 115px
                background: 0 0 url(../img/textures/wood-texture.jpg)
                z-index: 50
            &:last-child
                top: 0
                right: 0
                width: 260px
                height: 115px
                background: 0 0 url(../img/textures/wood-texture-lighter.jpg)
                padding-left: 52px
            dt
                font-size: 14px
                font-weight: 700
                line-height: 1.2em
                color: #2b180b
            dd
                font-size: 30px
                font-weight: 700
                margin: 20px 0 0 0
dl
    margin: 0 !important




