.welcome
    background: url('../img/welcome/bg.jpg') center no-repeat
    height: 606px
    position: relative
    &:after
        display: block
        background: url('../img/welcome/bottom.png') center no-repeat
        position: absolute
        z-index: 2
        height: 136px
        width: 100%
        bottom: -135px
        content: ''
    &__logo
        display: none
    .menu
        // display: none
    &__heading
        display: none
    &__features
        display: none
    &__feature
        display: none
    &__icon-text
        display: none
    &__icon-text-question
        display: none
    &__icon-text-answer
        display: none
